
@{
    ViewData["Title"] = "Create";
    String comp = "0";
    String name = "0";

    if (Model != null)
    {
        foreach (var Data in Model)
        {
            name = @Data.Name;
            if (User.Identity.Name == name)
            {
                comp = @Data.CompanyId;
            }

        }

    }
}

<div class="form-style-10">
    <h1>Create a post now!<span>Create your company's post and get attention from students!</span></h1>
    <form asp-controller="Home" asp-action="GetDetails" method="post">
        <div class="section"><span>1</span>Company Info</div>
        <div class="inner-wrap">
            <label>Your Company ID = <textfield name="txtCompanyId">@comp </textfield></label>
            <label>Project Topic<input type="text" name="txtTopic" /></label>
        </div>

        <div class="section"><span>2</span>Degree & Description</div>
        <div class="inner-wrap">
            <label>Degree <input type="text" name="txtDegree" /></label>
            <label>Description of Project <textarea name="txtDescription">Enter description here...</textarea></label>
        </div>
        <div class="button-section">
            <input id="Submit1" type="submit" name="Submit" vkalue="submit" />
            <span class="privacy-policy">
                <input type="checkbox" name="field7">You agree to our Terms and Policy.
            </span>
        </div>
    </form>
</div>
<br />
<br />

