
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form asp-controller="Home" asp-action="GetDetails" method="post">
    <table>
        <tr>
            <td>CompanyId :</td>
            <td><input name="txtCompanyId" type="text" /></td>
        </tr>
        <tr>
            <td>Project Topic:</td>
            <td><input name="txtTopic" type="text" /></td>
        </tr>
        <tr>
            <td>Educational Degree:</td>
            <td><input name="txtDegree" type="text" /></td>
        </tr>
        <tr>
            <td>Detailed Description:</td>
            <td><textarea name="txtDescription" rows="5" cols="60">Enter description here...</textarea></td>
        </tr>
        <tr>
            <td>Inspirational Picture (URL): </td>
            <td><input name="urlPicture" type="url" /></td>
        </tr>
        <tr>
            <td colspan="2"><input id="Submit1" type="submit" vkalue="submit" /></td>
        </tr>
    </table>
</form>
<br />
<br />

