@{
    ViewData["Title"] = "Reviews";
}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="~/css/site.css" />



    </head>
    <body id="Reviews">

        <div class="row">
        
            <div class="col-sm-6" align="center">
                <h1>This is amazing</h1>
                <img class="" src="https://www.yseski.co.uk/wp-content/uploads/2013/12/5-stars-1030x255.jpg" alt="Generic placeholder image" width="240px" height="52px" align="middle" />

                <div class="col-sm-6">
                    <p>This is a very professional way of working because this is very ideal and easy to use. I am happy that we can finally work with other students </p>
                    <img class="rounded-circle" src="https://thumbs.dreamstime.com/z/business-person-807754.jpg" alt="Generic placeholder image" width="140" height="140" align="middle" />
                    <p><i>Lars Andersen</i></p>
                    <p><i>Vestas, Denmark</i></p>
                    <br />


                </div>
            </div>
        <div class="col-sm-6" align="center">
            <h1>This is amazing</h1>
            <img class="" src="https://www.yseski.co.uk/wp-content/uploads/2013/12/5-stars-1030x255.jpg" alt="Generic placeholder image" width="240px" height="52px" align="middle" />

            <div class="col-sm-6">
                <p>This is a very professional way of working because this is very ideal and easy to use. I am happy that we can finally work with other students </p>
                <img class="rounded-circle" src="https://thumbs.dreamstime.com/z/business-person-807754.jpg" alt="Generic placeholder image" width="140" height="140" align="middle" />
                <p><i>Lars Petersen</i></p>
                <p><i>Arla Foods AMBA, Denmark</i></p>
                <br />
            </div>
        </div>
            </div>
        <div class="row" align="center">
            <div class="col-sm-6">
                <h1>This is amazing</h1>
                <img class="" src="https://www.yseski.co.uk/wp-content/uploads/2013/12/5-stars-1030x255.jpg" alt="Generic placeholder image" width="240px" height="52px" align="middle" />

                <div class="col-sm-6">
                    <p>This is a very professional way of working because this is very ideal and easy to use. I am happy that we can finally work with other students </p>
                    <img class="rounded-circle" src="https://thumbs.dreamstime.com/z/business-person-807754.jpg" alt="Generic placeholder image" width="140" height="140" align="middle" />
                    <p><i>Lars Sørensen</i></p>
                    <p><i>Calsberg, Denmark</i></p>
                    <br />
                </div>
            </div>
            <div class="col-sm-6" align="center">
                <h1>This is amazing</h1>
                <img class="" src="https://www.yseski.co.uk/wp-content/uploads/2013/12/5-stars-1030x255.jpg" alt="Generic placeholder image" width="240px" height="52px" align="middle" />

                <div class="col-sm-6">
                    <p>This is a very professional way of working because this is very ideal and easy to use. I am happy that we can finally work with other students </p>
                    <img class="rounded-circle" src="https://thumbs.dreamstime.com/z/business-person-807754.jpg" alt="Generic placeholder image" width="140" height="140" align="middle" />
                    <p><i>Lars Andreasen</i></p>
                    <p><i>Royal Unibrew, Denmark</i></p>
                    <br />
                </div>
            </div>
        </div>

        <div class="row" align="center">
            <div class="col-sm-12">
                <h1>If you would like to sign up, do it here!</h1>
                <h1>
                  <p><a class="btn btn-lg btn-primary" asp-area="" asp-controller="Home" asp-action="Create">Sign Up Today!</a></p>
                </h1>

            </div>


        </div>



        <footer class="page-footer">
        </footer>

    </body>


