@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="row justify-content-center">
    <div class="col-md-4 justify-content-center">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <label>
                Registering as a company?
                <input type="checkbox" value="true" asp-for="Input.Checked" class="aboveage2" id="companycheck" />
                <span asp-validation-for="Input.Checked" class="text-danger"></span>
            </label>
            <div>  </div>
            <div class="form-group" id="company">
                <label asp-for="Input.CompanyName"></label>
                <input asp-for="Input.CompanyName" class="form-control" />
                <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group" id="company1">
                <label asp-for="Input.CompanyEmail"></label>
                <input asp-for="Input.CompanyEmail" class="form-control" />
                <span asp-validation-for="Input.CompanyEmail" class="text-danger"></span>
            </div>
            <div class="form-group" id="company2">
                <label asp-for="Input.CompanyPhone"></label>
                <input asp-for="Input.CompanyPhone" class="form-control" />
                <span asp-validation-for="Input.CompanyPhone" class="text-danger"></span>
            </div>
            <div class="form-group" id="company3">
                <label asp-for="Input.CompanyWebsite"></label>
                <input asp-for="Input.CompanyWebsite" class="form-control" />
                <span asp-validation-for="Input.CompanyWebsite" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#company').hide();
        $('#company1').hide();
        $('#company2').hide();
        $('#company3').hide();
        $('#companycheck').click(function () {
            $('#company')[this.checked ? "show" : "hide"]();
            $('#company1')[this.checked ? "show" : "hide"]();
            $('#company2')[this.checked ? "show" : "hide"]();
            $('#company3')[this.checked ? "show" : "hide"]();

        });
    </script>
}
